<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{windownInfo.title}}</title>
    <link href="../../plugins/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="../../plugins/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="../../plugins/hplus/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="../../plugins/hplus/css/animate.min.css" rel="stylesheet">
    <link href="../../plugins/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="../../plugins/hplus/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="../../plugins/hplus/css/plugins/jsTree/style.min.css" rel="stylesheet">

</head>

<body ng-app="app">
<div class="wrapper wrapper-content" ng-controller="DeptController" ng-init="judgeInsertOrUpdate()">
    <div class="ibox float-e-margins">

        <form>
            <div class="form-group">
                <label>名称</label>
                <input type="text" placeholder="请输入名称名称" class="form-control"
                       ng-model="entity.name"
                       name="name"/>
            </div>
            <div class="form-group">
                <label>全称</label>
                <input type="text" placeholder="请输入全称名称" class="form-control"
                       ng-model="entity.fullname"
                       name="fullname"/>
            </div>

            <div class="form-group">
                <label>上级部门</label>
                <!--<input type="text" placeholder="请输入上级部门名称" class="form-control"-->
                       <!--ng-model="entity.pId"-->
                       <!--name="pId" id="deptTree" readonly="readonly"/>-->

                <input type="text" placeholder="请输入上级部门名称" class="form-control"
                       ng-model="entity.pId"
                       name="pId" />

                <!--<div style="width: 300px; height: 150px; background-color: #EFEFEF; position: absolute ;display: none;overflow: scroll;"-->
                     <!--id="tree_panel">-->
                    <!--<div id="treeview1" class="test"></div>-->
                <!--</div>-->
            </div>
            <div class="form-group">
                <label>状态</label>
                <input type="text" placeholder="请输入状态名称" class="form-control"
                       ng-model="entity.status"
                       name="status"/>
            </div>

            <div class="form-group">
                <label>备注</label>
                <input type="text" placeholder="请输入备注名称" class="form-control"
                       ng-model="entity.remark"
                       name="remark"/>
            </div>

            <div>
                <button class="btn btn-primary" ng-click="saveOrUpdateEntity()">{{isUpdate?"修改":"保存"}}</button>
                <button class="btn btn-warning" ng-click="closeDialog()">取消</button>
            </div>
        </form>
    </div>
</div>

<script src="../../plugins/hplus/js/jquery.min.js"></script>
<script src="../../plugins/hplus/js/bootstrap.min.js"></script>
<script src="../../plugins/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="../../plugins/hplus/js/plugins/layer/layer.js"></script>
<script src="../../plugins/hplus/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="../../plugins/hplus/js/plugins/peity/jquery.peity.min.js"></script>
<script src="../../plugins/hplus/js/content.min.js?v=1.0.0"></script>
<script src="../../plugins/hplus/js/plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/hplus/js/demo/peity-demo.min.js"></script>
<script src="../../node_modules/angular/angular.min.js"></script>
<script src="../../js/app.js"></script>
<script src="../../js/plugins/tm.pagination.js"></script>
<script src="../../plugins/hplus/js/plugins/treeview/bootstrap-treeview.js"></script>


<script src="../../js/common/base.js"></script>
<script src="../../js/common/baseController.js"></script>
<script src="../../js/service/IDeptService.js"></script>
<script src="../../js/controller/DeptController.js"></script>
<script src="../../js/tree.js"></script>

<!--<script src="../../plugins/hplus/js/plugins/validate/bootstrapValidator.min.js"></script>-->
<!--<script src="../../plugins/hplus/js/tree/treeWrapper.js"></script>-->
</body>
</html>